<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xingen.sqlitepractice">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AutomaticObservedActivity">

        </activity>

        <activity android:name=".activity.RxJavaSQLBriteActivity">

        </activity>

        <activity android:name=".activity.TimeDateFunctionActivity">

        </activity>

        <activity android:name=".activity.CitySelectActivity">

        </activity>
        <service android:name=".service.WriteCityDBIntentService">

        </service>
        <provider
            android:name=".db.DataContentProvider"
            android:authorities="com.xingen.sqlitepractice.db.DataContentProvider"
            android:exported="false"></provider>
    </application>

</manifest>